<div class="flex flex-row p-4">
    <!--  -->
    <div class="flex flex-col">
        <div class="flex flex-col item">
            Категория товара
        </div>
        <div class="flex flex-col item">
            -
        </div>
        <div class="flex flex-col item">
            {{product.type}}
        </div>
    </div>
    <div class="flex flex-col">
        <div class="item">
            Базовая цена
        </div>
        <div class="flex flex-row">
            <div class="flex flex-col">
                <div class="item">
                    Цена покупателя
                </div>
                <div class="item">
                    {{prices[product.type].base_sale.base_price.price.toFixed(0)}}
                    <span class="opacity-50">
                        - {{prices[product.type].base_sale.base_price.discount}}%
                    </span>
                </div>
                
            </div>
            <div class="flex flex-col">
                <div class="item">
                    Цена корпоративная
                </div>
                <div class="item">
                    {{prices[product.type].base_sale.corp_price.price.toFixed(0)}}
                    <span class="opacity-50">
                        - {{prices[product.type].base_sale.corp_price.discount}}%
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="flex flex-col">
        <div class="item">
            Оптовая цена
        </div>
        <div class="flex flex-row">
            <div class="flex flex-col">
                <div class="item">
                    Цена покупателя
                </div>
                <div class="item">
                    {{prices[product.type].whole_sale.base_price.price.toFixed(0)}}
                        <span class="opacity-50">
                            - {{prices[product.type].whole_sale.base_price.discount}}%
                        </span>
                </div>
            </div>
            <div class="flex flex-col">
                <div class="item">
                    Цена корпоративная
                </div>
                <div class="item">
                    {{prices[product.type].whole_sale.corp_price.price.toFixed(0)}}
                    <span class="opacity-50">
                        - {{prices[product.type].whole_sale.corp_price.discount}}%
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="flex flex-col p-4">
        <span class="text-xl m-2">
            Категория товара - {{product.type}}
        </span>
        <span class="text-xl m-2">
            Скидка лояльности - 
            <span class="text-xl opacity-75">
                {{store?.loyaltyProgram?.discount}} %
            </span>
        </span>
        
    </div>


</div>