<div class="flex flex-col w-full h-full p-4">

    <div class="flex flex-row w-full justify-between text-gray-500">
        <span class="text-lg text-gray-500 mb-2">
            {{store?.name}} - Создание Стенда 
        </span>
        <button mat-button (click)="redirect()"> 
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <form [formGroup]="form">
        <mat-form-field appearance="outline" class="mr-2" 
            [formGroup]="form">
            <mat-label>Наименование</mat-label>
                <input matInput 
                    [formControlName]="'name'">
        </mat-form-field>

        <!-- Подтверждение -->
        <button mat-button (click)="createStand()"> 
            <mat-icon>library_add</mat-icon>Создать
        </button>
    </form>
</div>